<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Daftar Member</h1>
        <div id="app">
            <form v-on:submit.prevent="tesSubmit">
                <input type="text" v-model="name" /><br />
                <input type="submit" value="Tambah" />
            </form>
            <table border="1">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No HP</th>
                    <th>Picture</th>
                    <th>Aksi</th>
                </tr>
                <tr v-for="(member, index) in members">
                    <td>{{index+1}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td><img src="" alt=""></td>
                    <td>
                        <button>Edit</button>
                        <button v-on:click="deleteMember()">Delete</button>
                    </td>
                </tr>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const app = new Vue({
                el: "#app",

                data: {
                    members: [],
                    name: "",
                    photoDomain : 'http://demo-api-vue.sanbercloud.com/api/member'
                },

                methods: {
                    getAll: function(){
                        const config = {
                            method: "get",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                        };

                        axios(config)
                            .then((response) => {
                                this.members = response.data.members;
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                    },
                    deleteMember: function(id){
                        console.log(id);
                    }
                },

                created() {
                    this.getAll();
                },
            });
        </script>
    </body>
</html>
